.tower {
  width: 250px;
  height: 150px;
  background-color: black;
  margin: 5px;
  float: left;
}

.highTower {
  width: 250px;
  height: 150px;
  background-color: red;
  margin: 5px;
  float: left;
}

.empty {
  width: 250px;
  height: 50px;
}

.one {
  width: 50px;
  height: 50px;
  background-color: magenta;
  margin: auto;
}

.two {
  width: 150px;
  height: 50px;
  background-color: yellow;
  margin: auto;
}

.three {
  width: 250px;
  height: 50px;
  background-color: cyan;
}
