.projects{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}

.hex:before,
.hex:after{
  content: " ";
  width: 0;
  left: 0;
  border-left: 64px solid transparent;
  border-right: 64px solid transparent;
  position: absolute;
  display: flex;
  align-items: center;
}

.hex:before{
  bottom: 100%;
  border-bottom: 36.95px solid #66C;
}

.hex{
  width: 128px;
  height: 72px;
  background-color: #66C;
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 31px;
  margin-left: 20px;
}

.hex:after{
  top: 100%;
  width: 0;
  border-top: 36.95px solid #66C;
}

.hex a{
  color: white;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}